{% extends 'bases/login.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post" class="connexion">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <img src="{{ asset('assets/images/logo.png') }}" alt="AS ORFT Plongée" class="logo">


    <h1 class="h1_title">Connexion</h1>

    <div class="control required">
        <label for="inputEmail">Adresse mail</label>
        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    </div>

    <div class="control required">
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    </div>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    <button class="btn" type="submit">
        Connexion
    </button>
</form>
{% endblock %}
